* {
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  height: 80px;
  border-bottom: 10px solid #2fc18c;
  line-height: 80px;
  background-color: #036b52;
  color: white;
}

#color-palette {
  padding: 20px;
  border-bottom: 10px solid #2fc18c;
}

#color-palette .color {
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 1px solid black;
}

#input-clear {
  background-color: #036b52;
  font-size: 0;
}

#input-size , #clear {
  display: inline-block;
  padding: 20px;
}

#board-size {
  width: 200px;
  border: 3px solid #2fc18c;
}

#board-size:invalid {
  border: solid red 3px;
}

#generate-board {
  border: 3px solid #2fc18c;
  background-color: #2fc18c;
  color: white;
  font-weight: 600;
}

#generate-board:hover {
  cursor: pointer;
  background-color: #7dccaf;
  border-color: #7dccaf;
}

#clear {
  position: absolute;
}

#clear-board {
  border: 3px solid #2fc18c;
  background-color: white;
  color: #2fc18c;
  font-weight: 600;
}

#clear-board:hover {
  cursor: pointer;
  color: #036b52;
}

#pixel-board {
  padding: 20px;
  border-top: 10px solid #2fc18c;
  border-bottom: 10px solid #2fc18c;
  white-space: nowrap;
  overflow-x: scroll;
}

.pixel {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  vertical-align: top;
}
