* {
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  height: 80px;
  border: 1px solid black;
  line-height: 80px;
}

#color-palette {
  padding: 20px;
  border: 1px solid black;
}

#color-palette .color {
  width: 80px;
  height: 80px;
  display: inline-block;
  border: 1px solid black;
}

#cyan {
  background-color: cyan;
}

#magenta {
  background-color: magenta;
}

#yellow {
  background-color: yellow;
}

#black {
  background-color: black;
}

#pixel-board {
  padding: 20px;
  border: 1px solid black;
}

.pixel {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  vertical-align: top;
}